
.Navbar {
    color: white;
    /* width: 100vw; */
    min-width: 344px;
    height: 90px;
    background-color: #17382a;
    /* background-color: #8e6c56; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* overflow: hidden; */
    /* overflow: flow-root; */
    /* position: fixed; working */
    position: sticky;
    z-index: 5;
    top: 0;
}

.NavDiv {
    /* color: aquamarine; */
    /* overflow: hidden; */
    width: 100vw;
    min-width: 344px;
    max-width: 1200px;
    /* height: 100%; */
    /* min-width: 500px; */
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(164, 62, 62); */
    align-items: center;
}

.Logo {
    font-size: 3.5rem;
    font-weight: 700;
    /* background-color: rgb(117, 128, 165); */
    padding-left: 1rem;
    text-decoration: none;
    color: white;
}

.NavLinks {
    width: 550px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ServicesButton {
    font-size: 1rem;
    font-weight: 500;
    color: #9EABA6;
    background-color: transparent;
    /* opacity: 0.6; */
    padding: 0.6rem;
    transition-property: all;
    transition-duration: 0.15s;
    border: none;
    position: relative;
    transform: translateY(-3px);
}
.ServicesButton:hover {
    background-color: #18534D;
    border-radius: 4px;
}
.ServicesButton img {transform: translateY(8px);}

.ServicesDropDown {
    width: 200px;
    display: none;
    background-color: #1c6468;
    position: absolute;
    z-index: 7;
    top: 100%;
    left: 4px;
    border-radius: 4px;
    transform: translateX(-3px);
}
.ServicesButton:hover .ServicesDropDown {
    display: flex;
}
.ServicesDropDown > a {width: 100%; opacity: 0.7;}
.ServicesDropDown > a:hover {opacity: 1;}

.NavLinks a {
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    opacity: 0.6;
    padding: 1rem;
    transition-property: all;
    transition-duration: 0.15s;
}
.NavLinks a:hover {
    /* background-color: #325373; */
    background-color: #1c6468;
    border-radius: 4px;
}

@media (max-width: 670px) {.NavLinks {display: none;}}

.BarsButton {
    background-color: transparent;
    /* background-color: rgb(255, 194, 71); */
    color: white;
    /* border: 1px solid white; */
    border: none;
    /* width: 40px; */
    /* height: 40px; */
    /* min-width: 28px; */
    cursor: pointer;
    margin: 20px;
    margin-left: 40px;
    /* margin-right: 80px; */
    opacity: 70%;
    display: none;
    transition-property: all;
    transition-duration: 0.25s;
}
.BarsButton:active {
    transform: rotate(40deg);
}
.BarsButton > img {
    width: 50px;
    /* min-width: 20px; */
}
@media (max-width: 670px) {.BarsButton {display: flex;}}

.BarMenu {
    width: 100vw;
    height: 35vh;
    /* background-color:bisque; */
    /* background-color: rgba(23, 56, 42, 0.65); */
    background-color: rgb(23, 56, 42);
    /* border-radius: 16px; */
    /* opacity: 50%; */
    backdrop-filter: blur(50px);
    position: fixed;
    z-index: 4;
    top: 90px;
    right: 0;
    transition-property: all;
    transition-duration: 0.25s;
    /* transition-timing-function:ease-in-out; */
    /* opacity: 0; */
    transform: translate(0, -125%);
}

.BarMenu.show {
    /* opacity: 1; */
    transform: translateY(0);

}

.MenuNavLinks {
    /* color: #13395D; */
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 35px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.MenuNavLinks button {
    background-color: transparent;
    border: none;
    color: white;
    opacity: 60%;
    font-size: 2.7rem;
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
}
.MenuNavLinks hr {
    color: white;
    opacity: 60%;
}

.MenuNavLinks a {
    text-decoration: none;
}
.MenuNavLinks li {
    /* display: inline; */
    list-style-type: none;
    font-size: 1.4rem;
    /* font-weight: 500; */
    letter-spacing: 1px;
    /* background-color: aquamarine; */
    padding: 0.5rem 0;
    transition-property: all;
    transition-duration: 0.15s;
    color: white;
    opacity: 60%;
}
.MenuNavLinks li:hover {
    /* background-color: hsl(209, 48%, 81%); */
    background-color: rgba(38, 93, 70, 0.876);
    border-radius: 8px;
    transform: scale(1.05);
    padding-left: 0.7rem;
}
